:root {
  --primary: rgb(99, 213, 70);
  --bg: rgb(255, 255, 255, 0.8);
  --navbg: rgb(255, 255, 255, 0.8);
  --text-color: rgb(0, 0, 0, 0.8);
}

body.dark-mode {
  --bg: rgb(0, 0, 0);
  --navbg: rgb(0, 0, 0, 0.8);
  --text-color: rgb(255, 255, 255, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--text-color);
}

body.dark-mode {
  background-color: var(--bg);
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--bgcolor);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .nav-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
}

.navbar .navbar-nav a {
  font-family: "Afacad", sans-serif;
  color: var(--text-color);
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-hidden a {
  color: var(--text-color);
  margin-left: 0.5rem;
}

span {
  color: var(--text-color);
}

.navbar .navbar-hidden a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

.navbar .navbar-hidden label {
  width: 3rem;
  height: 1.5rem;
  position: relative;
  display: inline-block;
  background: #ebebeb;
  border-radius: 1rem;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  overflow: hidden;
}

.navbar .navbar-hidden label:after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  display: flex;
  left: 3%;
  background: linear-gradient(180deg, var(--primary), #9eef6b);
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-hidden input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.navbar .navbar-hidden input:checked + label .light {
  fill: #474646;
}
.navbar .navbar-hidden input:checked + label .dark {
  fill: #fff;
}

.navbar .navbar-hidden input:checked + label {
  background: var(--bg);
}

.navbar .navbar-hidden input:checked + label:after {
  transform: translateX(85%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.navbar .navbar-hidden label,
.navbar .navbar-hidden label:after {
  transition: 0.3s;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
  body.dark-mode {
    background-color: #1a1a1a;
    color: white;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--text-color);
    width: 18rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  body.dark-mode {
    background-color: #1a1a1a;
    color: white;
  }
}

/* Mobile */
@media (max-width: 480px) {
  html {
    font-size: 55%;
  }
  body.dark-mode {
    background-color: #1a1a1a;
    color: white;
  }
}
